<mat-toolbar class="header">
    <mat-toolbar-row>
        <div class="header-row row between-xs middle-xs">
            <h1>PLATZI SHOP</h1>
            <nav>
                <a mat-button [routerLink] = "['/home']" routerLinkActive="active">Home</a>
                <a mat-button [routerLink] = "['/products']" routerLinkActive="active">Products</a>
                <a mat-button [routerLink] = "['/contact']" routerLinkActive="active">Contact</a>
            </nav>

            <div class="buttons">
                <a mat-raised-button [matBadge]="total$ | async" matBadgeColor="accent" routerLink="/order">
                    <mat-icon>shopping_cart</mat-icon>
                    Carrito
                </a>

                <a *ngIf="!user" mat-flat-button color="accent">Iniciar sesión</a>
                <a *ngIf="user" mat-button>Panel</a>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>