<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Producto</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="ID" formControlName="id" matInput type="text">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Titulo" formControlName="title" matInput type="text">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Precio" formControlName="price" matInput type="number">
                    </mat-form-field>
                </div>
            </div>
            <mat-error *ngIf="priceField.hasError('required')">Este campo es requerido</mat-error>
            <mat-error *ngIf="priceField.hasError('message')">Este precio es invalido</mat-error>

            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea placeholder="Descripción" formControlName="description" matInput type="text"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xs">
                    <img *ngIf="(image$ | async) as image" [src]="image"/>
                    <input type="file" (change)="uploadFile($event)"/>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button disabled="{{!form.valid}}" type="submit">Agregar</button>
        </mat-card-actions>
    </mat-card>
</form>