footer {
    padding: 50px 0px;
    margin-top: 20px;
    background-color: #23465a;
}

.box h3{
    color: white;
}

.box ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.box ul li{
    margin: 10px 0px;
}

.box ul a{
    text-decoration: none;
    color: white;
}

.box ul a:hover{
    text-decoration: underline;
}

.box button{
    margin-left: 10px;
}