.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.crop-image {
    display: block;
    height: 300px;
    width: 100%;
}

.crop-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
}